NODE_ENV=production
APP_PORT=3001
APP_NAME="KRX API"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=pt-BR
APP_HEADER_LANGUAGE=accept-language
FRONTEND_DOMAIN=https://krxdev.tech
BACKEND_DOMAIN=https://krxdev.tech
APP_CORS_ORIGINS=https://krxdev.tech,https://www.krxdev.tech

DATABASE_TYPE=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=krx
DATABASE_PASSWORD=CHANGE_ME_DATABASE_PASSWORD
DATABASE_NAME=krx
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=
DATABASE_URL=

# Suporta "local", "s3" e "s3-presigned"
FILE_DRIVER=s3
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_DEFAULT_S3_BUCKET=

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_IGNORE_TLS=false
MAIL_SECURE=false
MAIL_REQUIRE_TLS=true
MAIL_DEFAULT_EMAIL=noreply@krxdev.tech
MAIL_DEFAULT_NAME=KRX
MAIL_CLIENT_PORT=

AUTH_JWT_SECRET=CHANGE_ME_JWT_SECRET
AUTH_JWT_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_SECRET=CHANGE_ME_REFRESH_SECRET
AUTH_REFRESH_TOKEN_EXPIRES_IN=30d
AUTH_FORGOT_SECRET=CHANGE_ME_FORGOT_SECRET
AUTH_FORGOT_TOKEN_EXPIRES_IN=30m
AUTH_CONFIRM_EMAIL_SECRET=CHANGE_ME_CONFIRM_EMAIL_SECRET
AUTH_CONFIRM_EMAIL_TOKEN_EXPIRES_IN=1d
AUTH_UNIFORM_ERRORS=true

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

APPLE_APP_AUDIENCE=[]

WORKER_HOST=redis://redis:6379/1
